<ion-view view-title="Profile">
<ion-header-bar class="bar-dark">
  <button class="button" ng-click="">Back</button> 
</ion-header-bar>
  <ion-content class="padding">
<h1>Hello</h1>


<a href="#/tab/dash" class="plain"><button class="button button-block button-positive button-calm" id="log-in-button"> Back
      </button></a>
  <a ng-click="comment()" class="plain"><button class="button button-block button-positive button-calm" id="log-in-button"> Submit
   </button></a>

</ion-content>
</ion-view>