<ion-view view-title="Comment">
<ion-header-bar class="bar-dark">
  <a><button class="button" ng-click="">Back</button> </a>
</ion-header-bar>
  <ion-content class="event-comment padding">


 <label class="item item-input">
    <textarea placeholder="Comment" ng-model="eventComment.comment" ></textarea>

  </label>
<div class="buttons-comment">
<div class="button-back">
<a href="#/tab/dash" class="plain"><button class="button button-block button-dark button-calm" id="back-button"> Back
      </button></a>
  </div>
  <div class="button-comment">
  <a ng-click="submitEventComment({{eventPostId}})" class="plain"><button class="button button-block button-dark button-calm" id="comment-button"> Submit
   </button></a>
   </div>
</div>
<div class="list" ng-repeat="event in eventComments">

    <a class="item item-avatar" href="#">
      <img src="images/homer.jpg">
      <h2>{{event.username}}</h2>
      <p>{{event.comment}}</p>
    </a>

  
</div>
<hr/>

</ion-content>
</ion-view>