<ion-view view-title="login">
  <ion-content class="login">
  <div class="fullWidth">
      
      <h2 class="login-title">HitUp</h2>
      <h5>Connecting people not places</h5>
    </div>
  
    <div class="list list-inset">
  <label class="item item-input">
    <input type="text" placeholder="Username" ng-model="user.username">
  </label>
  <label class="item item-input">
    <input type="password" placeholder="Password" ng-model="user.password">
  </label>
</div>
<div class="login-button">
      <a ng-click="login()" class="plain"><button class="button button-block button-dark button-calm" id="log-in-button"> Log In
      </button>
      </div>
      <div class="register-button">
      <a ng-href="#/register">Register here</a>
      </div>


 </ion-content>
</ion-view>


<!-- <button ion-button round  class="button button-block button-positive button-calm" id="log-in-button">Round Button</button> -->
 