<ion-view view-title="Profile">
  <ion-content class="profileBody">

<div class="list card">

  <div class="item item-avatar">
    <img src="mcfly.jpg">
    <h2>{{profileUsername}}</h2>
    <p>November 05, 1955</p>
    <!-- <div ng-if="">  if friensd then unfollow else follow-->
    <div ng-controller="ProfileCtrl">
    <div ng-hide='{{friendFollowed}}' )>
    <button class="button button-positive" ng-click="submitFriendRequest()">
  Follow 
</button>
</div>
   <div ng-show='{{friendFollowed}}'>
<button class="button button-positive" ng-click="submitDeleteFriend()">
  Unfollow
</button>
</div>
</div>
  </div>

  <div class="item item-body">
    <img class="full-image" src="homer.jpg">
    
    <hr/>
    <div class="list" ng-repeat="eventPost in eventFeed" >

     <a class="item item-avatar" href="#/tab/profile/{{eventPost.username}}" ng-click="submitProfileUsername('{{eventPost.username}}')">
      <img src="/images/homer.jpg">
      <h2>{{eventPost.username}}</h2>
      <p>Event Title:{{eventPost.eventTitle}}</p>
      <p>Description:{{eventPost.eventDescription}}</p>
    </a>
    <hr/>
</div>
<hr/>
  </div>

</div>
  </ion-content>
</ion-view>
