  <ion-view view-title="HitUp">
<ion-content class="dashBody">

<div class="list card">
 <div ng-repeat="event in eventFeed" href="#/tab/profile/{{event.username}}">
  <div class="item item-avatar" >
   <!-- <a href="#/tab/profile/{{user.username}"}> --> <img src="images/homer.jpg"><!-- </a> -->
    <h2><a href="#/tab/profile/{{event.username}}" ng-click="profileUsername('{{event.username}}')">{{event.username}}</a></h2>
    <p>Date:{{event.eventTime}}</p>
  </div>

  <div class="eventFeedList item-body">
    <img class="full-image" src="homer.jpg">
    <p>Event Type:{{event.eventType}}</p>
    <p>
     {{event.eventDescription}}
    </p>
    <p>

      <div ng-if="hitupButton">
       <a href="" class="subdued"  ng-click="submitHitup('{{event._id}}')"  ><i class="ion-ios-analytics-outline">hitup</i></a>
       </div>
       <div ng-if="hitupButton==false">
        <a href="" class="subdued" class="ion-ios-analytics" ng-click="submitHitup('{{event._id}}')"  >hitup</a>
        </div>
      <a href="#/eventComment" ng-click="submitEventPostId('{{event._id}}')" class="subdued">Comments</a>
       <a href="" ng-click="submitDeletePost('{{event._id}}')" class="subdued">Delete</a>
    </p>
    </p>
  </div>
  <hr/>
</div>
</div>







  </ion-content>
</ion-view>
