  <ion-view view-title="HitUp">
<ion-content>

<div class="list card">
 <div ng-repeat="event in eventFeed" href="#/tab/profile/{{event.username}}">
  <div class="item item-avatar" >
   <!-- <a href="#/tab/profile/{{user.username}"}> --> <img src="images/homer.jpg"><!-- </a> -->
    <h2><a href="#/tab/profile/{{event.username}}" ng-click="profileUsername('{{event.username}}')">{{event.username}}</a></h2>
    <p>Date:{{event.eventTime}}</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="delorean.jpg">
    <p>Event Type:{{event.eventType}}</p>
    <p>
     {{event.eventDescription}}
    </p>
    <p>
      <a href="#/eventComment" class="subdued">1 hitup</a>
      <a href="#/eventComment" ng-click="submitEventPostId('{{event._id}}')" class="subdued">Comments</a>
       <button class="button button-block button-dark button-calm" ng-click="submitDeletePost('{{event._id}}')" class="subdued">Delete</button>
    </p>
    </p>
  </div>
  <hr/>
</div>
</div>





  </ion-content>
</ion-view>
