<ion-view view-title="Profile">
  <ion-content class="padding">

<div class="list card">

  <div class="item item-avatar">
    <img src="mcfly.jpg">
    <h2>Marty McFly</h2>
    <p>November 05, 1955</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="delorean.jpg">
    
    <hr/>
    <div class="list" ng-repeat="eventPost in eventFeed">

     <a class="item item-avatar" href="#">
      <img src="/images/homer.jpg">
      <h2>{{eventPost.username}}</h2>
      <p>{{eventPost.eventDescription}}</p>
    </a>
</div>
<hr/>
  </div>

</div>
  </ion-content>
</ion-view>
