/* Empty. Add your own CSS if you like */

body{
	
}

.tab.dash .comment{
	background-color: #28AFB0;
}

.login{
background-color: #28AFB0;
}

.login h2{
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size:  36px;
	 padding-top: 20%;
}

.login h5{
	font-family:"Comic Sans MS", cursive, sans-serif;
	text-align: center;
	font-size:  22px;
	 padding-bottom: 20%;
}

.login .list{
	width: 80%;
	 margin: auto;

}
 .login-button{
	width: 50%;
	margin: auto;
}
 .register-button{
	text-align: center;
}

.eventFeedList{
	
}

.profileBody{
background-color: #28AFB0;
}
.dashBody{
	background-color: #28AFB0;
}

.buttons-comment{
	
width: 50%;
display: inline-flex;
padding-left: 20%;
	


}
.list-things{
	width: 50%;
}
.event-comment{
background-color: #28AFB0;
}

.button-back{
	padding-right: 50%;
}


	